@import "../../../scss/variables.scss";

.applicationbody {
 box-sizing: border-box;
 padding-top: $header-height;
 height: 100vh;

    .input-range__label--value {
        top: -2.8rem;
        font-size: 1rem;

        .input-range__label-container {
            padding: $spacing--small;
            border-radius: 500px;
            background: white;;
        }
    }

    .switch {
        height: auto;
        margin-bottom: 0;

        .switch.small {
            height: auto;
        }
    }
}

.applicationbody__scrolldiv {
    height: 100%;
}

.applicationbody__scrolldiv-inner {
    height: 100%;
    overflow-y: scroll;

}

.application__scroll-flex-wrapper {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.applicationbody__block {
    padding: $spacing--large 0;
}

.applicationbody__block-wrapper {
    position: relative;
}

.applicationbody__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
    flex: 1;
    overflow-x: hidden;
    
    &.grid-container {

        @media screen and (max-width: $breakpoint--small) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.applicationbody__block--inputrange {
    padding: $spacing--large 0;
}

.applicationbody__page-button-wrapper {
    display: flex;
    justify-content: space-between;
    margin: $spacing--medium 0;
}

.applicationbody__page-button {
    margin: $spacing--medium;
    border-radius: 500px;
    outline: none;

    &:focus {
        box-shadow: 0 0 0 2pt $color__grey--darkest;
    }

}

.layout .applicationbody__page-button--disabled {
    background-color: $color__grey--darker;
    cursor: default;
}

.layout  .applicationbody__page-button--disabled:hover,
.layout  .applicationbody__page-button--disabled:focus{
    background-color: $color__grey--darker;
}

.applicationbody__block-question {
    margin-bottom: $spacing--small;
}

.applicationbody__labels-answers {
    display: flex;
    flex-flow: row nowrap;

    @media screen and (max-width: $breakpoint--small) {
        flex-flow: column nowrap;
    }
}

.applicationbody__label {
    display: inline-block;
    width: 80%;
    max-width: 500px;
    margin: $spacing--medium 0;
}

.applicationbody__label--right {
    margin-left: $spacing--medium;
}

.applicationbody__question-title {
    margin: 0;
    color: $color__font;
}

.applicationbody__multiselection {
    font-size: $font-size__small;
    font-style: italic;
    opacity: 0.7;
    color: $color__font;
}

.applicationbody__answer {
    margin: $spacing--medium 0 0 $spacing--medium;
}

.applicationbody__catheader {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

.applicationbody__transition-wrapper {
    opacity: 0;
    transition: opacity .4s ease-in;
}

.applicationbody__transition--show {
    opacity: 1;
}

.applicationbody__form grid-container {
    min-height: 100%;
}

.applicationbody__navigation-buttons {
    margin-top: auto;
}

